.chord-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
  width: calc(700px + 2vmin);
  max-width: 100%;
}

.date {
  font-size: calc(18px + 1vmin);
  font-weight: 300;
}

.chord-name {
  font-size: calc(30px + 2vmin);
  padding-top:1rem;
}
